@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --clr-gray-900: hsl(40, 6%, 10%);
  --clr-gray-700: hsl(40, 3%, 23%);
  --clr-gray-300: hsl(48, 2%, 46%);
  --clr-gray-100: hsl(20, 2%, 75%);
  --clr-gray-50: hsl(40, 13%, 95%);
  --clr-indigo-500: hsl(225, 82%, 49%);
  --clr-red-500: hsl(0, 100%, 39%);
  --clr-red-400: hsl(334 43% 55%);
  --clr-orange-500: hsl(8, 88%, 68%);
  --clr-orange-400: hsl(11 32% 45%);
  --clr-purple-500: hsl(326, 78%, 49%);
  --clr-purple-400: hsl(333, 78%, 56%);
  --clr-yellow-100: hsl(41, 74%, 56%);
  --clr-yellow-50: hsl(45, 82%, 75%);
  --gradient-coin-start: hsl(11 32% 45% / 50%) ;
  --gradient-coin-end: hsl(334 43% 40% / 50%) ;
  --ff-default: "Roboto", sans-serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}


html{
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  background-color: var(--clr-gray-900);
  font-family: var(--ff-default);
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

.Wrapper {
  padding-inline: 1.53rem;
}

.HeaderContainer {

  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--clr-gray-900);
}

.Header {
  padding-block: 1.30rem;
}

.HeaderItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;
}

.HeaderStartContainer {
  display: flex;
  align-items: center;
  gap: .63rem;
}

.HeaderSearch {
  position: relative;
}

.HeaderSearch::after {
  content: "";
  inline-size: .10rem;
  block-size: 1.7rem;
  background-color: var(--clr-gray-300);
  position: absolute;
  top: -12px;
  right: -1px;
}

.HeaderSearchLogo {
  block-size: 1.5rem;
  display: none;
}

.HeaderTitle {
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}

.HeaderSubtitle {
  font-size: .7rem;
}

.HeaderLogoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.HeaderLogoInfo {
  color: var(--clr-gray-50);
  display: flex;
  flex-direction: column;
  gap: .15rem;
}

.HeaderBtn {
  background-color: transparent;
  border: 1px solid var(--clr-gray-50);
  border-radius: .3rem;
  font-size: .55rem;
  padding-block-start: 0.5rem;
  padding-block-end: .4rem;
  padding-inline-start: .68rem;
  padding-inline-end: .81rem;
  color: var(--clr-gray-50);
  text-transform: uppercase;
  display: none;
}

.HeaderEndContainer {
  display: none;
}

.Prompt {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.Form {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex-grow: 1;
}

.FormInputContainer {
  background-color: var(--clr-gray-700);
  display: flex;
  justify-content: space-between;
  border-radius: 1.5rem;
  padding-block: .55rem;
  padding-inline-end: 1rem;
  width: 100%;
  height: 134px;
  flex-grow: 1;
}

.FormInput {
  flex: 1;
  background-color: transparent;
  border: none;
  padding-block: .5rem;
  margin-inline-start: .90rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  color: var(--clr-gray-100);
  padding: 12px 24px 12px 12px;
  resize: none;
}

.FormInputContainer:hover {
  outline: 1px solid var(--clr-gray-300);
  transition: outline .1s;
}

.FormInput::placeholder {
  color: var(--clr-gray-300);
}

.FormItem {
  display: flex;
  align-items: center;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  gap: .4rem;
}

.FormItem__desktop {
  display: none;
}

.FormItemCoin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  block-size: 1.2rem;
  inline-size: 1.2rem;
  border-radius: 50%;
  background: linear-gradient(var(--clr-yellow-50), var(--clr-yellow-100));

}

.FormItemCoinCircle {
  background: linear-gradient(var(--gradient-coin-start), var(--gradient-coin-end));
  block-size: 1.2rem;
  inline-size: 1.2rem;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormItemCoinInside {
  block-size: .8rem;
  inline-size: .8rem;
  border-radius: 50%;
  background: linear-gradient(var(--clr-orange-500), var(--clr-red-400));
}

.FormItemCoinIcon {
  inline-size: .7rem;
}

.FormItemCoinNumber {
  font-size: .9rem;
  color: var(--clr-gray-50);
}

.FormButtons {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}

.FormButton {
  background-color: var(--clr-purple-500);
  border-radius: 5rem;
  padding: .7rem  1.40rem;
  color: var(--clr-gray-50);
  inline-size: max-content;
}

.FormButton:hover,
.FormButton:focus-visible{
  cursor: pointer;
  background-color: transparent;
  transition: border, background-color .5s;
}

.FormButton__transparent {
  background-color: var(--clr-purple-500);
  flex-grow: 1;
  text-align: center;
}

.FormButton__transparent:hover,
.FormButton__transparent:focus-visible {
  transition: border, background-color .5s;
  background-color: var(--clr-purple-500);
}


.FormButtonContainer {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.FormButton:nth-child(1){
  display: none;
}

#MyInputDesktop {
  display: none;
}

@media (min-width: 768px){

  .HeaderLogoContainer {
    margin-inline-start: 10px;
  }

  .HeaderSearch {
    block-size: 1.9rem;
    inline-size: 1.9rem;
    background-color: var(--clr-gray-700);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .HeaderSearchLogo {
    display: block;
    block-size: .98rem;
  }

  .HeaderSearch::after {
    top: 0;
    right: -10px;
  }

  .HeaderTitle {
    font-size: .99rem;
  }

  .HeaderBtn {
    display: block;
  }

  .HeaderEndContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .HeaderEndItem {
    color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .HeaderAvatar {
    inline-size: 1.8rem;
    border-radius: 50%;
  }

  .HeaderMenu {
    margin-inline-start: 0.625rem;
  }

  .HeaderEndItemCircle {
    position: relative;
  }

  .HeaderEndItemCircle::before{
    content: "";
    block-size: .5rem;
    inline-size: .5rem;
    border-radius: 50%;
    background-color: var(--clr-red-500);
    position: absolute;
    inset-block-start: 0.15rem;
    inset-inline-end: -0.50rem;
  }

  .HeaderEndItemCircle [class^="fz-big"]{
    inline-size: 1.8rem;
  }

  .Form {
    flex-wrap:  nowrap;
  }

  .FormInputContainer {
    width: 80%;
    height: 50px;
  }

  .FormInput {
    padding: 10px;
  }

  .FormItem__mobile {
    display: none;
  }

  .FormItem__desktop {
    display: flex;
  }
  .FormButton:nth-child(1){
    display: block;
  }

  .FormButton__normal {
    background-color: var(--clr-purple-500);
    border: 2px solid var(--clr-purple-500);
  }

  .FormButton__transparent {
    background-color: transparent;
    border: 2px solid var(--clr-purple-500);
  }

  #MyTextareaMobile {
    display: none;
  }

  #MyInputDesktop{
    display: block;
  }


}
