@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --clr-gray-950: hsl(0, 0%, 7%);
  --clr-gray-900: hsl(40, 6%, 10%);
  --clr-gray-800: hsl(30, 3%, 15%);
  --clr-gray-700: hsl(0, 0%, 9%);
  --clr-gray-600: hsl(40, 3%, 23%);
  --clr-gray-500: hsl(0, 0%, 28%);
  --clr-gray-400: hsl(48, 2%, 46%);
  --clr-gray-100: hsl(20, 2%, 75%);
  --clr-gray-50: hsl(40, 13%, 95%);
  --clr-indigo-500: hsl(225, 82%, 49%);
  --clr-indigo-50: hsl(207, 100%, 75%);
  --clr-red-500: hsl(0, 100%, 39%);
  --clr-red-400: hsl(334 43% 55%);
  --clr-orange-500: hsl(8, 88%, 68%);
  --clr-orange-400: hsl(11 32% 45%);
  --clr-purple-500: hsl(326, 78%, 49%);
  --clr-purple-400: hsl(333, 78%, 56%);
  --clr-yellow-100: hsl(41, 74%, 56%);
  --clr-yellow-50: hsl(45, 82%, 75%);
  --gradient-coin-start: hsl(11 32% 45% / 50%);
  --gradient-coin-end: hsl(334 43% 40% / 50%);
  --gradient-coin-inside-start: hsl(333 78% 56% / 50%);
  --gradient-coin-inside-end: hsl(41 74% 56% / 50%);
  --ff-default: "Roboto", sans-serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}


html{
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  background-color: var(--clr-gray-900);
  font-family: var(--ff-default);
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  color: var(--clr-gray-100);
}

ul p {
  margin-top: 10px;
}

.Wrapper {
  padding-inline: 1.53rem;
}

.HeaderContainer {
  position: static;
}

.Header {
  padding-block: 1.30rem;
}

.HeaderItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;
}

.HeaderStartContainer {
  display: flex;
  align-items: center;
  gap: .63rem;
}

.HeaderSearch {
  position: relative;
}

.HeaderSearch::after {
  content: "";
  inline-size: 0.09rem;
  block-size: 1.7rem;
  background-color: var(--clr-gray-400);
  position: absolute;
  inset-block-start: -0.75rem;
  inset-inline-end: -0.06rem;
}

.HeaderSearchLogo {
  block-size: 1.5rem;
  display: none;
}

.HeaderTitle {
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}

.HeaderSubtitle {
  font-size: .7rem;
}

.HeaderLogoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.HeaderLogoInfo {
  color: var(--clr-gray-50);
  display: flex;
  flex-direction: column;
  gap: .15rem;
}

.HeaderBtn {
  background-color: transparent;
  border: 1px solid var(--clr-gray-50);
  border-radius: .3rem;
  font-size: .55rem;
  padding-block-start: 0.5rem;
  padding-block-end: .4rem;
  padding-inline-start: .68rem;
  padding-inline-end: .81rem;
  color: var(--clr-gray-50);
  text-transform: uppercase;
  display: none;
}

.HeaderEndContainer {
  display: none;
}

.Prompt {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.Form {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex-grow: 1;
}

.FormInputContainer {
  background-color: var(--clr-gray-600);
  display: flex;
  justify-content: space-between;
  border-radius: 1.5rem;
  padding-block: .55rem;
  padding-inline-end: 1rem;
  width: 100%;
  height: 134px;
  flex-grow: 1;
}

.FormInput {
  flex: 1;
  background-color: transparent;
  border: none;
  padding-block: .5rem;
  margin-inline-start: .90rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  color: var(--clr-gray-100);
  padding: 12px 24px 12px 12px;
  resize: none;
}


.FormInputContainer:hover {
  outline: 1px solid var(--clr-gray-400);
  transition: outline .1s;
}

.FormInput::placeholder {
  color: var(--clr-gray-400);
}

.FormItemDivider {
  width: 1px;
  height: 48px;
  background-color: var(--clr-gray-50);
  opacity: .1;
  position: relative;
  top: -8px;
  display: none;
}

.FormItem {
  display: flex;
  align-items: center;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  gap: .4rem;
  position: relative;
}

.FormItemTooltipContainer{
  background-color: var(--clr-gray-600);
  min-width: 385px;
  position: absolute;
  font-size: .9rem;
  top: 55px;
  right: 0;
  padding: .8rem;
  color: var(--clr-gray-50);
  border-radius: .5rem;
}

.FormItemTooltip {
  position: absolute;
  inline-size: 1.25rem;
  block-size: 0.625rem;
  background-color: var(--clr-gray-600);
  right: 15px;
  top: -8px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.FormItem__desktop {
  display: none;
}

.FormItemCoin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  block-size: 1.2rem;
  inline-size: 1.2rem;
  border-radius: 50%;
  background: linear-gradient(var(--clr-yellow-50), var(--clr-yellow-100));
}

.FormItemCoin:before {
  content: "";
  block-size: 1.3rem;
  inline-size: 1.3rem;
  background: linear-gradient(var(--clr-yellow-100), var(--clr-yellow-50));
  position: absolute;
  border-radius: 50%;
  z-index: -2;
}

.FormItemCoinCircle {
  background: linear-gradient(var(--gradient-coin-start), var(--gradient-coin-end));
  block-size: 1.2rem;
  inline-size: 1.2rem;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormItemCoinInside {
  block-size: .7rem;
  inline-size: .7rem;
  border-radius: 50%;
  background: linear-gradient(var(--gradient-coin-inside-start), var(--gradient-coin-inside-end));
}

.FormItemCoinIcon {
  inline-size: .7rem;
}

.FormItemCoinNumber {
  font-size: .9rem;
  color: var(--clr-gray-50);
}

.FormButtons {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}

.FormButton {
  background-color: var(--clr-purple-500);
  border-radius: 5rem;
  padding: .7rem  1.40rem;
  color: var(--clr-gray-50);
  inline-size: max-content;
}

.FormButton:hover,
.FormButton:focus-visible{
  cursor: pointer;
  background-color: transparent;
  transition: border, background-color .5s;
}

.FormButton__transparent {
  background-color: var(--clr-purple-500);
  flex-grow: 1;
  text-align: center;
}

.FormButton__transparent:hover,
.FormButton__transparent:focus-visible {
  transition: border, background-color .5s;
  background-color: var(--clr-purple-500);
}


.FormButtonContainer {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.FormButton:nth-child(1){
  display: none;
}

#MyInputDesktop {
  display: none;
}

.Hero {
  display: none;
}


.ExploreHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ExploreTitle {
  display: flex;
  gap: 2rem;
}

.ExploreTitle a {
  color: var(--clr-gray-50);
  text-decoration: none;
}

.ExploreHelp {
  display: flex;
  align-items: center;
  gap: .8rem;
  color: var(--clr-gray-50);
}

.ExploreBorderBottom {
  background: linear-gradient(272.21deg,#e63887 36.73%,#f78560 96.93%);
  color: transparent;
  height: 3px;
  margin-top: 5px;
}

.GalleryImageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block-end: 1.56rem;
}

.GalleryImageResults {
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-gap: 13px;
  padding-block-start: 16px;
  padding-inline: 0;
  margin-block-end: 1.56rem;
}


.ImageCount {
  position: relative;
  transition: all 4.s ease 0s;
  text-align: center;
}

.ImageContText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ImageContainer img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
  height: 100%;
}

.ImageContText {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.ImageText {
  color: var(--clr-gray-50);
  display: none;
}

.ImageContainer {
  -webkit-animation: fadein 8s, 2s ease-out 0s 1 slideInFromBottom;
  -moz-animation: fadein 8s,2s ease-out 0s 1 slideInFromBottom;
  -ms-animation: fadein 8s,2s ease-out 0s 1 slideInFromBottom;
  -o-animation: fadein 8s,2s ease-out 0s 1 slideInFromBottom;
  animation: fadein 8s, 2s ease-out 0s 1 slideInFromBottom;
}

.ImageContainer:focus-visible .ImageContText, .ImageContainer:hover .ImageContText {
  transition: all .4s ease 0s;
  background: rgba(0,0,0,.65);
}

.ImageContainer:focus-visible .ImageText, .ImageContainer:hover .ImageText {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  position: relative;
  font-family: "Roboto",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-block: 0;
  padding-inline: 1.06rem;
}

.Faq {
  display: none;
}

.Footer {
  background-color: var(--clr-gray-950);
  padding-block-start: .1rem;
  padding-block-end: 1rem;
  position: sticky;
  bottom: 0;
}

.FooterItems {
  text-align: center;
  color: var(--clr-gray-100);
  padding-inline: 1rem;
}

.FooterMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 1rem;
  position: relative;
}

.FooterLink {
  text-decoration: none;
  font-size: .80rem;
}

.FooterLink:hover {
  text-decoration: underline;
}



.FooterBtn {
  border: 1px solid var(--clr-gray-100);
  display: none;
  padding-block: .2rem;
  padding-inline: 1rem;
  position: absolute;
  inset-inline-end: 2rem;
  inset-block-end: 0.225rem;
  background-color: var(--clr-gray-800);
}

.FooterBtn img {
  vertical-align: middle;
  max-width: 1rem;
  margin-inline-end: .2rem;
}

.FooterBtn a {
  font-size: .9rem;
  color: var(--clr-indigo-50);
  text-decoration: none;
}


@media (min-width: 768px){

  .HeaderContainer {
    position: sticky;
    inset-block-start: 0;
    z-index: 5;
    background-color: var(--clr-gray-900);
  }

  .HeaderLogoContainer {
    margin-inline-start: 10px;
  }

  .HeaderSearch {
    block-size: 2.5rem;
    inline-size: 2.5rem;
    background-color: var(--clr-gray-800);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .HeaderSearchLogo {
    display: block;
    block-size: 1.3rem;
  }

  .HeaderSearch::after {
    inset-block-start: 0.375rem;
    inset-inline-end: -0.625rem;
  }

  .HeaderTitle {
    font-size: .95rem;
  }

  .HeaderBtn {
    display: block;
  }

  .HeaderEndContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .HeaderEndItem {
    color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .HeaderAvatar {
    inline-size: 1.8rem;
    border-radius: 50%;
  }

  .HeaderMenu {
    margin-inline-start: 0.625rem;
  }

  .HeaderEndItemCircle {
    position: relative;
  }

  .HeaderEndItemCircle::before{
    content: "";
    block-size: .5rem;
    inline-size: .5rem;
    border-radius: 50%;
    background-color: var(--clr-red-500);
    position: absolute;
    inset-block-start: 0.15rem;
    inset-inline-end: -0.50rem;
  }

  .HeaderEndItemCircle [class^="fz-big"]{
    inline-size: 1.8rem;
  }

  .Form {
    flex-wrap:  nowrap;
  }

  .FormInputContainer {
    width: 80%;
    height: 50px;
  }

  .FormInput {
    padding: 10px;
  }

  .FormItem__mobile {
    display: none;
  }

  .FormItem__desktop {
    display: flex;

    cursor: pointer;
  }

  .FormItemDivider {
    display: block;
  }


  .FormItemTooltipContainer {
    display: none;
  }


  .FormButton:nth-child(1){
    display: block;
  }

  .FormButton__normal {
    background-color: var(--clr-purple-500);
    border: 2px solid var(--clr-purple-500);
  }

  .FormButton__transparent {
    background-color: transparent;
    border: 2px solid var(--clr-purple-500);
  }

  #MyTextareaMobile {
    display: none;
  }

  #MyInputDesktop{
    display: block;
  }


  .Hero {
    background-color: var(--clr-gray-700);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 2rem;
    padding-block-end: 1.5rem;
    border-radius: .5rem;
  }

  .HeroStart {
    padding-block: 3rem;
    color: var(--clr-gray-50);
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  .HeroStartDesc {
    max-width: 300px;
  }

  .HeroEnd {
    display: flex;
    gap: .7rem;
    padding-block: 2rem;
    position: relative;
    padding-inline-end: 2rem;
  }

  .HeroEndCard__full {
    background-image: url("../img/bing-card.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: end;
    border-radius: 0.31rem;
  }

  .HeroEndCard__full img {
    display: block;
  }


  .HeroEndCardInfo{
    width: 150px;
    min-height: 90px;
    color: var(--clr-gray-50);
    background-color: var(--clr-gray-500);
    padding: 8px;
    line-height: 15px;
    margin-top: 8px;
    border-radius: 0.31rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
  }


  .HeroEndCardInfo__full {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    padding-block: 2rem;
  }


  .HeroEndCardInfoTitle {
    font-size: .8rem;
  }

  .HeroEndCardInfoDesc {
    font-size: .7rem;
  }

  .HeroEndCardInfoDesc__full {
    color: var(--clr-gray-900);
    font-size: .8rem;
  }


  .HeroEndCardInfoButtons {
    display: flex;
    gap: .4rem;
  }

  .HeroEndCardInfoButton {
    font-size: 8px;
    line-height: 9px;
    color: #fff;
    background-color: rgba(255,255,255,.25);
    padding: 4px 6px;
    border-radius: 4px;
    margin-top: 6px;
    border: 0;
  }

  .HeroEndCardInfoButton__full {
    border: 2px solid var(--clr-indigo-500);
    color: var(--clr-indigo-500);
    font-weight: var(--fw-bold);
    font-size: .9rem;
    padding-block: .7rem;
    padding-inline: .9rem;
    border-radius: 5rem;
  }

  .HeroEndCardInfoButton img {
    margin-right: 6px
  }

  .HeroEndSlideContainer {
    position: absolute;
    bottom: 0;
    left: 10px;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .HeroEndSlideCircleLarge {
    inline-size: 40px;
    block-size: 10px;
    border-radius: 20px;
    background-color: var(--clr-gray-50);
  }

  .HeroEndSlideCircleSmall {
    inline-size: 8px;
    block-size: 8px;
    background-color: var(--clr-gray-500);
    border-radius: 50%;
  }

  .HeroEndCloseIcon {
    position: absolute;
    right: -8px;
    inline-size: 1.5rem;
  }

  .HeroEndCloseIcon:hover {
    cursor: pointer;
  }

  .GalleryImageResults {
    grid-template-columns: repeat(6,auto);
  }

  .Explore {
    padding-block: 2rem;
  }

  .Faq {
    padding-block-end: 4rem;
    color: var(--clr-gray-50);
    display: block;
  }

  .FaqMenu {
    margin-top: 36px;
    padding-inline: 2rem;
  }

  .FaqItem {
    border-bottom: 1px solid rgba(224,205,233,.25);
    padding: 20px 0;
    list-style-type: none;
  }

  .FaqItem ul {
    list-style-type: disc;
  }

  .FaqContainer {
    display: flex;
    line-height: 36px;
    font-size: 28px;
  }

  .FaqItemNumber {
    flex: 0 0 55px;
    margin-right: 16px;
  }

  .FaqItemDesc {
    font-size: 1.25rem;
    line-height: 1.2;
    max-height: 0;
    overflow: hidden;
    margin-top: 1rem;
    transition: padding-top 0.3s ease-out;
    color: var(--clr-gray-100);
  }

  .FaqItemParagraph {
    margin-bottom: 15px;
  }



  .FaqItemParagraph a {
    color: var(--clr-gray-100);
  }

  .FaqURLContainer {
    display: flex;
    align-items: center;
    gap: .8rem;  
    padding-block-start: 1rem;
    padding-inline: 1.9rem;
  }

  .FaqURLContainer a {
    text-decoration: none;
    color: var(--clr-gray-50);
  }

  .FaqURLContainer img {
    max-width: 15px;
  }


  .FaqItemLi {
    margin-top: 10px;
  }

  .FaqItemNumber:after {
    content: "/";
    float: right;
  }


  .Faq h2 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 3.75rem;
    color: var(--clr-gray-50);
  }

  .FaqArrowDown {
    background-image: url("../img/faq-arrow-down.svg");
    width: 40px;
    height: 40px;
    float: right;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .FaqArrowUp {
    background-image: url("../img/faq-arrow-up.svg");
  }
}




@media (min-width: 875px){

  .Hero {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem;
  }

  .HeroStart {
    flex-direction: column;
    gap: 1rem;
    margin: 0;
  }

  .HeroStartTitle {
    font-size: 1.5rem;
  }

  .HeroStartDesc {
    font-size: 1rem;
  }

  .FooterBtn {
    display: inline-block;
  }

  .Footer {
    padding-block-end: .1rem;
  }

  .FooterMenu {
    justify-content: start;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }

  .Attribution {
    display: none;
  }
}
